<h3>
  <a routerLink="/">Home</a>
  | <a routerLink="/protected">Protected</a>
  | <a routerLink="/call-api">Call API</a>
  | <a href="javascript:;" (click)="SignOut()">Sign Out</a>
</h3>
<h1>
{{title}}
</h1>
<router-outlet></router-outlet>
