﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div class="login container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form id="login-form" class="form-signin" autocomplete="off">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="text" id="UsernameOrEmail" name="UsernameOrEmail" class="form-control" placeholder="Email address or Username" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required="">

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
                </form>
            </div>
        </div>
    </div>

    <style>

        .login {
            margin-top: 20vh;
        }

            .login .row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    </style>

    <script>


        $(function () {

            $('#login-form').on('submit', function (e) {
                e.preventDefault();

                var data = {
                    UsernameOrEmail: $('#UsernameOrEmail').val(),
                    Password: $('#Password').val()
                };

                $.post('/Auth/Login', data).then(function (dta) {
                    console.log(dta);

                    if (dta.succeeded) {
                        var ret = '@ViewData["ReturnUrl"]';
                        
                        window.location.href = (ret === null || ret === '') ? "/" : ret.replace(/amp;/g, '');
                    } else {
                        alert(JSON.stringify(dta));
                    }

                }).catch(function (er) {
                    alert(er.message);
                    console.error(er);
                })

            }) 
        })

    </script>

    <script src="~/Assets/js/bootstrap.min.js"></script>

</body>
</html>
